.Hs-title{
    display: block;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 100px;
    padding-top: 20px;
}

.Hs-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.Hs-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.Hs-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 48%;
    min-height: 380px;
    margin-top: 30px;
}

.Hs-about {
    text-align: justify;
    margin: 0 30px;
    font-size: 1.2rem;
    line-height: 1.8;
}

.line{
    border: 2px solid rgba(0, 0, 0, 0.868);
    border-radius: 14px;
    position:absolute;
    margin-top: 10px;
    left: 50%;
}

.long{
    min-height: 620px;
}

.short{
    min-height: 350px;
}

@media screen and (max-width: 960px) {
    .Hs-container{
        margin: 0;
        padding: 30px 15px;
    }
    
    .Hs-wrapper{
        background-color: white;
        min-width: 330px;
        min-height: 160px;
        padding: 0;
        margin: 0 auto;
    }

    .short{
        height: 400px;
    }

    p{
    line-height: 1.6;
    }
    
}

@media screen and (max-width: 860px) {
    .Hs-container{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        min-width: 220px;
    }
    
    .Hs-wrapper{
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .line{
        display: none;
    }
}